#textblock {
  background-color: #1c0038;

  height: 75%;
}

#textblock-container {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  overflow-y: scroll;
}
/*
#textblock-container::-webkit-scrollbar-thumb {
  background-color: #b7548b;
}
*/

#textblock-title {
  text-align: center;
  color: #a74fdee3;
  font-size: 35px;
  font-weight: 600;
}

#textblock-content {
  color: #f9fafb;
  font-size: 20px;
}

#textblock-footer {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;

}

#textblock-devsense {
  text-decoration: none;
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 600;
}

.animation,
.animation_layer {
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.animation_layer.parallax {
  position: fixed;
}

#sky {
  background-image: url(./images/cielo.png);

}

#stars {
  background-image: url(./images/stars.png);

}


#city {
  background-image: url(./images/palazzi.png);

}

#city2 {
  background-image: url(./images/palazzi2.png);

}

#bridge {
  background-image: url(./images/primo.png);

}

body {
  background-color: #1c0038;
  display: flex;
  margin: auto;
  overflow-x: hidden;
}

#Hack {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, rgb(28, 0, 56) 17%, rgb(66, 0, 132) 63%);
}

.hack {

  height: 40%;
  align-self: center;
  width: auto;

}

.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;

}

#hacker {
  scale: 0.3;

  /* Per il not Hover*/
  transform: scale(1);
  transition-duration: 0.5s;
}

#hacker:hover {

  transform: scale(1.2);
  /* Aumenta la dimensione del 20% al passaggio del mouse */
  cursor: pointer;
  transition-duration: 0.5s;
}

.texthide {
  color: #f9fafb;
}


#root {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #ccb2cc;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: #9e2d91;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(159, 39, 89);
}