#ctf
{
  background-image: linear-gradient(90deg, rgba(237, 110, 160, 0.83) 17%, rgba(167, 104, 237, 0.76) 63%);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  padding-bottom: 5%;
  border-radius: 50px;
}
#flex
{
  display: flex;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  scale: 0.8;
  
  color: #fff; /* Testo bianco */
}
.image{
  width: 70%;
}

.attack
{
  width: -webkit-fill-available;
}

.titolo{
color: #fff;
}
.testo
{
color: aliceblue;
}
/* Stile del div centrale */
.center-div {
  text-align: center;
}

/* Stile delle cards */
.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
#levels
{
  background-color: #fff;
  color: black;
  padding:2%;
  border-radius: 20px;
}


.card {
  background-color: #ffffff; /* Colore di sfondo per le cards */
  color: #832c2c; /* Testo bianco */
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(228, 221, 221, 0.556);
}
  #arrows
  {
    position: sticky;
    margin-bottom: -2%;
  }
  #elements{
    margin: 10%;
  }
  .center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    
  }
  
  
  .card {
    
    
    
    padding: 30px;
    
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(228, 221, 221, 0.556);
  }
  
  /* Stile del testo al neon */
  .neon-text {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    font-size: 24px;
  }

  .arrow {
    position: absolute;
    bottom:100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    cursor: pointer;
}

/* Stile delle frecce destre (.dx) */
.dx {
  margin-left: 250px; /* Aggiungi margine destro di 10px */
}

/* Stile delle frecce sinistre (.sx) */
.sx {
  margin-left: -250px; /* Aggiungi margine destro di 10px */
}
.dx span {
  background: none;
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate-dx 4s infinite;
   
}
.sx span {
  background: none;
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate-sx 4s infinite;
  
}

.texthide
{
  color: black;
}
.arrow span:nth-child(1) {
    animation-delay: 0.2s;
}

.dx span:nth-child(3) {
    animation-delay: +0.4s;
}
.sx span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate-dx {
    0% {
        opacity: 0;
        transform: rotate(225deg) translate(20px, 20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(225deg) translate(20px, 20px);
    }
}
@keyframes animate-sx {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}