#CTFcontainRed
{
  background-image: linear-gradient(90deg, rgb(142, 34, 77) 17%, rgb(108, 63, 160) 63%);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  padding-bottom: 5%;
  border-radius: 50px;
  color: beige;
  display: flex;
}
#CTFcontainBlue
{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  border-radius: 50px;
  color: beige;
  display: flex;
}
div > h2 {
  color: rgb(218, 192, 242) !important
}
div > p {
  color: rgb(255, 212, 253) !important;
  font-size: 140%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}

div > img {
  width: 45%;
  border-radius: 4%;
}

.title {
  color: rgb(213, 169, 255) !important;
  padding: 5%;
  font-size: xxx-large;
}

.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    
  }