/* Footer.css */
.footer {
  background-image: linear-gradient(90deg, #d457ff 17%, rgb(134, 62, 180) 63%);
    color: rgb(6, 9, 58); /* Verde fluo */
    padding: 15px 0;
    text-align: center;
    width: 100%;
    position: sticky;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 15px;
    
  }
  
  .footer p {
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
  }
  
  /* Aggiunta di altezza minima per il contenuto principale */
  .main-content {
    min-height: calc(100vh - 120px); /* 120px è l'altezza dell'header e del footer combinati */
  }
  