/* Footer.css */
.footer {
  background-image: linear-gradient(90deg, rgba(237, 110, 160, 0.83) 17%, rgba(167, 104, 237, 0.76) 63%);
    color: rgb(6, 9, 58); /* Verde fluo */
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: sticky;
    
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 15px;
    
  }
  
  .footer p {
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Aggiunta di altezza minima per il contenuto principale */
  .main-content {
    min-height: calc(100vh - 120px); /* 120px è l'altezza dell'header e del footer combinati */
  }
  